* {
    box-sizing: border-box;
}

#logo h1, #form, #category-container {
    text-align: center
}

p {
    font-size: x-large;
}

#form input {
    width: 400px;
    max-width: 90%;
    height: 50px;
    text-align: center;
    font-size: small;
}


#category-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 5%;
    height: 80vh
}

#category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 10px
}

#landscape {
    background: url('./images/landscape.jpeg') no-repeat center center;
    background-size: cover
}

#animals {
    background: url('./images/animals.jpeg') no-repeat center center;
    background-size: cover
}

#food {
    background: url('./images/food.jpeg') no-repeat center center;
    background-size: cover
}

#roads {
    background: url('./images/roads.jpeg') no-repeat center center;
    background-size: cover
}

#trees {
    background: url('./images/trees.jpeg') no-repeat center center;
    background-size: cover
}

#coral {
    background: url('./images/coral.jpeg') no-repeat center center;
    background-size: cover
}

#texture {
    background: url('./images/texture.jpeg') no-repeat center center;
    background-size: cover
}

#street-art {
    background: url('./images/art.jpeg') no-repeat center center
    ;background-size: cover
}

#classic-cars {
    background: url('./images/cars.jpeg') no-repeat center center;
    background-size: cover
}

.category-box {
    color: white;
    
}

.category-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.0.1);
    transition: .3s;
}

.category-box p:hover {
    background-color: rgba(0,0,0,0.6);
}