* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#logo h1,
#form,
#category-container,
#title h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 500%;
    font-size: 300%;
    margin: 0;
}

#logo h1 {
    line-height: 10vh;
}

p {
    font-size: 90%;
}

#form input {
    width: 32vw;
    max-width: 90%;
    height: 50px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60%;
    border-radius: 10px;
}

#category-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
}

#category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 10px;
}

#instructions {
    font-family: 'Amatic SC', cursive;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 10px;
    font-size: 125%;
}

#img-1 {
    background: url('./images/landscape.jpeg') no-repeat center center;
    background-size: cover;
}

#img-2 {
    background: url('./images/animals.jpeg') no-repeat center center;
    background-size: cover;
}

#img-3 {
    background: url('./images/food.jpeg') no-repeat center center;
    background-size: cover;
}

#img-4 {
    background: url('./images/roads.jpeg') no-repeat center center;
    background-size: cover;
}

#img-5 {
    background: url('./images/trees.jpeg') no-repeat center center;
    background-size: cover;
}

#img-6 {
    background: url('./images/coral.jpeg') no-repeat center center;
    background-size: cover;
}

#img-7 {
    background: url('./images/texture.jpeg') no-repeat center center;
    background-size: cover;
}

#img-8 {
    background: url('./images/art.jpeg') no-repeat center center;
    background-size: cover;
}

#img-9 {
    background: url('./images/cars.jpeg') no-repeat center center;
    background-size: cover;
}

/* .rounded {
    border-radius: 10px
} */

.large {
    height: 70vh;
    width: 70vw;
    margin: 0 auto;
    border-radius: 10px;
}

.category-box {
    color: white;
    border-radius: 10px;
}

.category-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.0.1);
    transition: .3s;
}

.category-box p:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-button {
    font-family: 'Amatic SC', cursive;
    width: 30vw;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    border-radius: 10px;
    font-size: 110%;
    font-weight: bolder;
}

#photo-list,
#photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

/* .grid-box {
    overflow: hidden;
    position: relative;
} */

.list-box,
.grid-box {
    border-radius: 10px;
}

/* .image-grid-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

#game-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1400px;
    margin: 0 auto;
    height: 80vh;
}

@media screen and (max-width: 800px) {
    #game-container {
        grid-template-columns: 1fr;
    }
}

.container-countdown {
    color: #333;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

/* .wrong {
    animation-iteration-count: infinite
} */

/* .correct {
    
} */


.pg-top {
    height: 10vh;
    position: relative;
}

.pg-top p {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 10vh;
    margin: 0;
}

.pg-middle {
    width: 100vw;
    height: 0vh;
    overflow: hidden;
    position: relative;
    height: 80vh
}

.pg-bottom {
    height: 10vh;
}

.pg-image {
    height: 100%;
    width: 100%;
    position: absolute;
}



.pg-image img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pg-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);    
    font-family: 'Amatic SC', cursive;
    font-size: 200%
}

.pg-buttons-inst {
    margin: 20px;
    width: 500px;
    height: 30px;
    font-family: 'Amatic SC', cursive;
}

.bottom {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
    text-align: center;
    line-height: 1;
    height: 100;
}

#seconds {
    font-family: 'Amatic SC', cursive;
    font-size: 200%
}